/* 
font-family: 'Hind Guntur', sans-serif; ---> HEADING
font-family: 'Cormorant Infant', serif; ---> SMALL HEADINGH
font-family: 'ABeeZee', sans-serif; ---> PARAGRAPH
"Josefin Sans"
"Agbalumo"
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(237, 198, 146);
}

.menuScreen{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -120%;
    background-color: rgba(138, 0, 148, 0.507);
    backdrop-filter: blur(20px);
    z-index: 99;
}

.menuScreen a{
    text-decoration: none;
    color: white;
}

.ri-close-line{
    position: absolute;
    top: 4vw;
    right: 4vw;
    font-size: 25px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    width: 100%;
    height: 60px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 5vw;
}

.nav-left{
    font-family: "Agbalumo";
    font-size: 25px;
}

.nav-right a{
    text-decoration: none;
    color: black;
    font-family: "Josefin Sans";
    font-size: 20px;
}

.nav i{
    display: none;
}

.hero{
    padding: 120px 5vw;
}

.hero h1{
    font-family: 'ABeeZee', sans-serif;
    font-size: 7vw;
}

.hero span{
    font-family: "Macondo Swash Caps";
}

.ri-shining-2-fill{
    color: rgb(247, 107, 130);
}

.ri-heart-3-fill{
    color: rgb(33, 119, 239);
}

.elem{
    position: relative;
    overflow: hidden;
}
.boundingelem{
    transform: translateY(100%);
    
}

.intro{
    padding: 120px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic{
    position: relative;
    max-height: 500px;
    max-width: 350px;
    min-height: 200px;
    min-width: 135px;
    height: 57vw;
    width: 40vw;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px black;
}

.pic img{
    position: absolute;
    width: 120%;
    left: -15px;
}

.intro-info{
    width: 50%;
}

.intro p{
    text-align: right;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.5vw;
}

.loading{
    pointer-events: none;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect{
    margin: 0 5vw;
    width: fit-content;
    border: 1px solid black;
    border-radius: 100px;
    outline: none;
    padding: 8px 14px;
    background-color: transparent;
}

.others{
    padding: 70px 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 450px;
    max-width: 350px;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
}

.box img{
    height: 100%;
    width: 200%;
    position: absolute;
    left: -70%;
    object-fit: cover;
}

.box .details{
    position: absolute;
    z-index: 9999;
    bottom: 0;
    color: white;
    margin-left: 10px;
}

.details h1{
    font-family: "Josefin Sans";
    display: flex;
    align-items: center;
    gap: 10px;
}

.details p{
    font-family: 'ABeeZee', sans-serif;
}
.cir{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

.see-project{
    margin: 10px 0;
    width: fit-content;
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    outline: none;
    padding: 8px 14px;
    background-color: transparent;
}

@media (max-width:700px) {
    .hero{
        padding: 40px 5vw;
        padding-bottom: 0;
    }
    .intro{
        padding: 40px 5vw;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .intro-info{
        width: 100%;
        padding: 0 10px;
    }
    .intro p{
        text-align: left;
        font-size: 4vw;
    }
    .nav-left h1{
        font-size: 30px;
    }
}

@media (max-width:600px) {
    .nav-right{
        display: none;
    }
    .nav i{
        display: block;
    }
}
